pre {
  background-color: #f3f3f3;
  border-radius: 5px;
  max-width: 500px;
  padding: 10px 10px 5px;
}

pre .status {
  font-weight: bold;
}

pre p {
  margin: 0 0 5px 0;
}

pre .status-default {
  color: blueviolet;
}

pre .status-error {
  color: red;
}

pre .status-warn {
  color: orangered;
}

pre .status-success {
  color: green;
}

.hidden {
  display: none;
}
